<header class="flex justify-between items-center fixed top-0 left-0 w-full lg:static z-[1111111111]">
  <div class="flex justify-between w-full px-4 lg:px-0 bg-[#3F1341] lg:bg-transparent">
      <div class="flex justify-between w-full items-center space-x-4 lg:my-8 my-5">
          <!-- website logo -->
          <!--<a class="text-5xl font-semibold" href="/">
              <img class="h-[26px] lg:h-[32px]" src="/assets/images/logo/logo.png" alt="logo" />
          </a>-->
          <div class="flex items-center">
              <button id="menu-toggle" type="button" class="menu-toggle-btn">
                  <i id="menu-toggle-open-icon" class="fa-solid fa-bars text-xl "></i>
                  <i id="menu-toggle-close-icon" class="fa-solid fa-xmark text-xl hidden  "></i>
              </button>
          </div>
      </div>
  </div>
  <app-nav></app-nav>
</header>
