<div class="bg-homeBg dark:bg-homeTwoBg-dark min-h-screen bg-no-repeat bg-center bg-cover bg-fixed md:pb-16 w-full">
  <div class="section-bg">
      <div class="w-full flex justify-between px-4">
          <!-- website Logo -->
          <a href="/">
              <img class="h-[26px] lg:h-[32px]" src="/assets/images/logo/logo.png" alt="logo" />
          </a>
          <div class="flex items-center">
              <!-- dark and light mode toggle -->
              <button id="theme-toggle" type="button" class="dark-light-btn">
                  <i id="theme-toggle-dark-icon" class="fa-solid text-xl fa-moon hidden"></i>
                  <i id="theme-toggle-light-icon" class="fa-solid fa-sun text-xl hidden"></i>
              </button>
              <!-- mobile toggle button -->
              <button id="menu-toggle" type="button" class="menu-toggle-btn">
                  <i id="menu-toggle-open-icon" class="fa-solid fa-bars text-xl "></i>
                  <i id="menu-toggle-close-icon" class="fa-solid fa-xmark text-xl hidden  "></i>
              </button>
          </div>
      </div>
  </div>

  <!-- mobile menu start -->
  <app-nav-mobile></app-nav-mobile>
  <!-- mobile menu end -->

  <div class="container grid grid-cols-12 md:gap-10 justify-between lg:mt-[220px]">
      <!-- sidber personal info -->
      <div class="col-span-12 lg:col-span-4 hidden lg:block h-screen sticky top-44">
          <div
              class="w-full mb-6 lg:mb-0 mx-auto relative bg-white text-center dark:bg-[#111111] px-6 rounded-[20px] mt-[180px] md:mt-[220px] lg:mt-0">
              <!-- profile image -->
              <img src="/assets/images/about/avatar.jpg"
                  class="w-[240px] absolute left-[50%] transform -translate-x-[50%] h-[240px] drop-shadow-xl mx-auto rounded-[20px] -mt-[140px]"
                  alt="about" />
              <div class="pt-[100px] pb-8">
                  <h2 class="mt-6 mb-1 text-[26px] font-semibold dark:text-white"> Cristian Ortega </h2>
                  <h3
                      class="mb-4 text-[#7B7B7B] inline-block dark:bg-[#1D1D1D] px-5 py-1.5 rounded-lg dark:text-[#A6A6A6]">
                      Software Developer </h3>
                  <div class="flex justify-center space-x-3">
                      <!-- facebook icon and link -->
                      <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                          <span class="socialbtn text-[#1773EA]">
                              <i class="fa-brands fa-facebook-f"></i>
                          </span>
                      </a>
                      <!-- twitter icon and link -->
                      <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
                          <span class="socialbtn text-[#1C9CEA]">
                              <i class="fa-brands fa-twitter"></i>
                          </span>
                      </a>
                      <!-- dribbble icon and link -->
                      <a href="https://dribbble.com/" target="_blank" rel="noopener noreferrer">
                          <span class="socialbtn text-[#e14a84]">
                              <i class="fa-brands fa-dribbble"></i>
                          </span>
                      </a>
                      <!-- linkedin icon and link -->
                      <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
                          <span class="socialbtn text-[#0072b1]">
                              <i class="fa-brands fa-linkedin-in"></i>
                          </span>
                      </a>
                  </div>
                  <!-- personal infomation start -->
                  <div class="p-7 rounded-2xl mt-7 bg-[#F3F6F6] dark:bg-[#1D1D1D]">
                      <div class="flex border-b border-[#E3E3E3] dark:border-[#3D3A3A] pb-2.5">
                          <span class="socialbtn bg-white dark:bg-black text-[#E93B81] shadow-md">
                              <i class="fa-solid fa-mobile-screen-button"></i>
                          </span>
                          <div class="text-left ml-2.5">
                              <p class="text-xs text-[#44566C] dark:text-[#A6A6A6]"> Phone </p>
                              <p class="dark:text-white">+123 456 7890</p>
                          </div>
                      </div>
                      <div class="flex border-b border-[#E3E3E3] dark:border-[#3D3A3A] py-2.5">
                          <span class="socialbtn bg-white dark:bg-black text-[#6AB5B9] shadow-md">
                              <i class="fa-solid fa-envelope-open-text"></i>
                          </span>
                          <div class="text-left ml-2.5">
                              <p class="text-xs text-[#44566C] dark:text-[#A6A6A6]"> Email </p>
                              <p class="dark:text-white">example@mail.com</p>
                          </div>
                      </div>
                      <div class="flex border-b border-[#E3E3E3] dark:border-[#3D3A3A] py-2.5">
                          <span class="socialbtn bg-white dark:bg-black text-[#FD7590] shadow-md">
                              <i class="fa-solid fa-location-dot"></i>
                          </span>
                          <div class="text-left ml-2.5">
                              <p class="text-xs text-[#44566C] dark:text-[#A6A6A6]"> Location </p>
                              <p class="dark:text-white">Hong kong china</p>
                          </div>
                      </div>
                      <div class="flex py-2.5">
                          <span class="socialbtn bg-white dark:bg-black text-[#C17CEB] shadow-md">
                              <i class="fa-solid fa-calendar-days"></i>
                          </span>
                          <div class="text-left ml-2.5">
                              <p class="text-xs text-[#44566C] dark:text-[#A6A6A6]"> Birthday </p>
                              <p class="dark:text-white">May 27, 1990</p>
                          </div>
                      </div>
                  </div>
                  <!-- personal infomation end-->
                  <!-- dowanload button -->
                  <button class="dowanload-btn">
                      <img class="mr-3" src="/assets/images/icons/dowanload.png" alt="icon" /> Download CV </button>
              </div>
          </div>
      </div>
      <div class="col-span-12 lg:col-span-8">
          <app-nav></app-nav>
          <div>
              <div class="lg:rounded-2xl bg-white dark:bg-[#111111]">
                  <router-outlet></router-outlet>
                  <app-footer></app-footer>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End bgHomeBg -->
