.java {
  height: 0.25rem;
  background: #fa6401;
  border-radius: 9999px;
}

.javascript {
  height: 0.25rem;
  background: #FCF000;
  border-radius: 9999px;
}

.database {
  height: 0.25rem;
  background: #24b90f;
  border-radius: 9999px;
}

.typescript {
  height: 0.25rem;
  background: #0197fa;
  border-radius: 9999px;
}

.angular {
  height: 0.25rem;
  background: #fa011a;
  border-radius: 9999px;
}
