.java {
  height: 0.25rem;
  background: #fa6401;
}

.javascript {
  height: 0.25rem;
  background: #24b90f;
}

.database {
  height: 0.25rem;
  background: #0197fa;
}

.angular {
  height: 0.25rem;
  background: #fa011a;
}
