<nav id="navbar" class="hidden lg:hidden">
  <ul
      class="block rounded-b-[20px] shadow-md absolute left-0 top-20 z-[22222222222222] w-full bg-white dark:bg-[#1d1d1d]">
      <li>
          <a class="mobile-menu-items-active" href="./aboutOne.html">
              <span class="mr-2 text-xl">
                  <i class="fa-regular fa-user"></i>
              </span>Sobre mí </a>
      </li>
      <li>
          <a class="mobile-menu-items" href="./resumeOne.html">
              <span class="mr-2 text-xl">
                  <i class="fa-regular fa-file-lines"></i>
              </span>Currículum </a>
      </li>
      <li>
        <a class="mobile-menu-items" href="./contactOne.html">
            <span class="mr-2 text-xl">
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            </span>Cursos </a>
      </li>
      <li>
          <a class="mobile-menu-items" href="./portfiloOne.html">
              <span class="mr-2 text-xl">
                  <i class="fas fa-briefcase"></i>
              </span>Portafolio </a>
      </li>
  </ul>
</nav>
