<div class="bg-white lg:rounded-2xl dark:bg-[#111111]">
  <div class="container px-4 sm:px-5 md:px-10 lg:px-[60px]">
    <div *ngIf="portfolio" class="p-5 mb-2">
        <h2 class="text-[#edc851] dark:hover:text-[#FFE79B] text-4xl text-center font-bold">
          {{ portfolio.portfolioName }}
        </h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 my-6 pr-3">
          <div class="space-y-2">
            <p class="dark:text-white flex items-center text-[15px] sm:text-lg">
              <i class="fa-regular fa-file-lines text-lg mr-2 hidden sm:block"></i>
              Categoría :&nbsp;
              <span class="font-medium"> {{ portfolio.category.name }} </span>
            </p>
            <p *ngIf="portfolio.clientName != null" class="dark:text-white flex items-center text-[15px] sm:text-lg">
              <i class="fa-regular fa-user text-lg mr-2 hidden sm:block"></i>
              Cliente :&nbsp;
              <span class="font-medium">{{ portfolio.clientName }}</span>
            </p>
            <p class="dark:text-white flex items-center text-[15px] sm:text-lg">
              <i class="fa-solid fa fa-calendar text-lg mr-2 hidden sm:block"></i>
              Período :&nbsp;
              <span class="font-medium">{{ portfolio.startDate| date:'yyyy-MM' }} - {{ portfolio.endDate| date:'yyyy-MM' }}</span>
            </p>
          </div>

          <div class="space-y-2">
            <p class="dark:text-white flex items-center mt-2 lg:mt-0 text-[15px] sm:text-lg">
              <i class="fa-brands fa-github text-lg mr-2 hidden sm:block"></i>
              Repositorio :&nbsp;
              <span *ngIf="portfolio.repository" class="font-medium transition-all duration-300 ease-in-out hover:text-[#5050f5]">
                <a [href]="portfolio.repository" target="_blank" rel="noopener noreferrer">Ir al sitio</a>
              </span>
              <span *ngIf="!portfolio.repository" class="font-medium">Sin acceso</span>
            </p>
            <p class="dark:text-white flex items-center text-[15px] sm:text-lg">
              <i class="fa-solid fa-arrow-up-right-from-square text-lg mr-2 hidden sm:block"></i>
              Demo :&nbsp;
              <span *ngIf="portfolio.demo" class="font-medium transition-all duration-300 ease-in-out hover:text-[#5050f5]">
                <a [href]="portfolio.demo" target="_blank" rel="noopener noreferrer">Ir al sitio</a>
              </span>
              <span *ngIf="!portfolio.demo" class="font-medium">Sin acceso</span>
            </p>
          </div>
        </div>

        <div>
          <p [innerHTML]="portfolio.description" class="dark:text-white text-2line font-normal text-[17px] sm:text-sm mb-3" style="white-space: pre-line">
          </p>
        </div>

        <div class="container bg-[#f8fbfb] dark:bg-[#111111]">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
              <div class="col-span-1">
                <div class="pr-3">
                  <img class="object-cover rounded-xl mt-6"
                    [src]="portfolio.img" [alt]="portfolio.portfolioName" />
                </div>
              </div>

              <div class="col-span-1">
                  <h4 class="text-5xl text-[#edc851] dark:hover:text-[#FFE79B] font-medium mb-8"> Tecnologías </h4>
                  <div *ngIf="portfolio.technologies.length > 0" class="flex gap-x-3 gap-y-3 md:gap-y-6 md:gap-x-4 flex-wrap">
                    <button *ngFor="let tech of portfolio.technologies" class="resume-btn"> {{ tech }}</button>
                  </div>
              </div>
          </div>
      </div>

      </div>
  </div>
  <app-footer></app-footer>
</div>
