<div class="bg-white lg:rounded-2xl dark:bg-[#111111]">
  <div class="container px-4 sm:px-5 md:px-10 lg:px-[60px]">
      <div class="py-12">
          <h2 class="after-effect after:left-52 mt-12 lg:mt-0">Portafolio</h2>
          <app-search-by *ngIf="categories.length > 0"
                          class="mt-[px] flex w-full justify-start md:justify-end flex-wrap font-medium"
                          [defaultCategory]="category"
                          [categories]="categories"
                          [showProfesionalFirst]="true"
                          (searchByCategory)="onSearchByCategory($event)">
          </app-search-by>
          <app-loading *ngIf="loading"></app-loading>
          <div *ngIf="show" class="grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mt-[30px] grid gap-x-10 gap-y-7 mb-6" transition="slide-in-bottom">
              <app-portfolio-item *ngFor="let portfolio of portfolios" [portfolio]="portfolio"></app-portfolio-item>
          </div>
          <div *ngIf="findMore" class="flex flex-col items-end">
            <button class="ngx-pagination cursor-pointer"
               (click)="getMore()" >Ver más...</button>
          </div>
      </div>
  </div>
  <app-footer></app-footer>
</div>
