<nav class="hidden lg:block">
  <ul class="flex my-12">
      <li>
          <a class="menu-item-two" routerLink="/home" routerLinkActive="menu-item-two-active">
              <span class="mr-2 text-base">
                  <i class="fa-solid fa-house"></i>
              </span> Home </a>
      </li>
      <li>
          <a class="menu-item-two" routerLink="/about-me" routerLinkActive="menu-item-two-active">
              <span class="mr-2 text-base">
                  <i class="fa-regular fa-user"></i>
              </span> Personal</a>
      </li>
      <li>
          <a class="menu-item-two" routerLink="/curriculum" routerLinkActive="menu-item-two-active">
              <span class="mr-2 text-base">
                  <i class="fa-regular fa-file-lines"></i>
              </span> Currículum </a>
      </li>
      <li>
          <a class="menu-item-two" routerLink="/certificate" routerLinkActive="menu-item-two-active">
              <span class="mr-2 text-base">
                  <i class="fa fa-graduation-cap"></i>
              </span> Cursos </a>
      </li>
      <li>
          <a class="menu-item-two" routerLink="/portfolio" routerLinkActive="menu-item-two-active">
              <span class="mr-2 text-base">
                  <i class="fas fa-briefcase"></i>
              </span> Portafolio </a>
      </li>
  </ul>
</nav>
<nav id="navbar" class="hidden lg:hidden">
  <ul
      class="block rounded-b-[20px] shadow-md absolute left-0 top-20 z-[22222222222222] w-full bg-white dark:bg-[#1d1d1d]">
      <li>
          <a class="mobile-menu-items" routerLink="/home" routerLinkActive="mobile-menu-items-active">
              <span class="mr-2 text-xl">
                  <i class="fa-solid fa-house"></i>
              </span> Home </a>
      </li>
      <li>
          <a class="mobile-menu-items" routerLink="/about-me" routerLinkActive="mobile-menu-items-active">
              <span class="mr-2 text-xl">
                  <i class="fa-regular fa-user"></i>
              </span> Personal </a>
      </li>
      <li>
          <a class="mobile-menu-items" routerLink="/curriculum" routerLinkActive="mobile-menu-items-active">
              <span class="mr-2 text-xl">
                  <i class="fa-regular fa-file-lines"></i>
              </span> Currículum </a>
      </li>
      <li>
          <a class="mobile-menu-items" routerLink="/certificate" routerLinkActive="mobile-menu-items-active">
              <span class="mr-2 text-xl">
                  <i class="fa fa-graduation-cap"></i>
              </span> Cursos </a>
      </li>
      <li>
        <a class="mobile-menu-items" routerLink="/portfolio" routerLinkActive="mobile-menu-items-active">
          <span class="mr-2 text-xl">
            <i class="fas fa-briefcase"></i>
          </span> Portafolio
        </a>
      </li>
  </ul>
</nav>

