<section class="bg-[portfolio-color-2] dark:bg-gray-900 ">
  <div class="container flex items-center min-h-screen px-6 py-12 mx-auto">
      <div class="flex flex-col items-center max-w-sm mx-auto text-center">
          <p class="p-3 text-sm font-medium text-blue-500 rounded-full bg-blue-50 dark:bg-gray-800">
            <img src="https://media.giphy.com/media/A9EcBzd6t8DZe/giphy.gif" >
          </p>
          <h1 class="mt-3 text-2xl font-semibold text-gray-800 dark:text-white md:text-3xl">Página no encontrada</h1>
          <p class="mt-4 text-gray-500 font-semibold dark:text-white">La página que estás buscando no existe. Presiona un botón para volver</p>

          <div class="flex items-center w-full mt-6 gap-x-3 shrink-0 sm:w-auto">
              <button (click)="goBack()" class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-yellow-500 border rounded-lg gap-x-2 sm:w-auto dark:hover:bg-yellow-400 dark:bg-yellow-500 hover:bg-yellow-400 dark:text-gray-200 dark:border-gray-700">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:rotate-180">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                  </svg>
                  <span>Volver</span>
              </button>

              <button (click)="goHome()" class="w-1/2 px-5 py-2 text-sm tracking-wide text-gray-700 transition-colors duration-200 bg-yellow-500 rounded-lg shrink-0 sm:w-auto hover:bg-yellow-400 dark:hover:bg-yellow-400 dark:bg-yellow-500">
                 Ir al inicio
              </button>
          </div>
      </div>
  </div>
</section>
