<div *ngIf="about">
  <div class="container lg:rounded-2xl bg-white dark:bg-[#111111] px-4 sm:px-5 md:px-10 lg:px-20">
      <div data-aos="fade" class="aos-init aos-animate">
          <div class="py-12">
              <!-- about page title -->
              <h2 class="after-effect after:left-52 mt-12 lg:mt-0"> Sobre Mí </h2>
              <div class="grid grid-cols-12 md:gap-10 pt-4 md:pt-[40px] items-center">
                  <div class="col-span-12 md:col-span-4">
                      <!-- about me image -->
                      <img class="w-full md:w-[330px] md:h-[484px] object-cover overflow-hidden rounded-[35px] mb-3 md:mb-0"
                          src="/assets/images/about/about.jpg" alt="about image" />
                  </div>
                  <div class="col-span-12 md:col-span-8 space-y-2.5">
                      <div class="md:mr-12 xl:mr-16">
                          <h3 class="text-4xl font-medium dark:text-white mb-2.5"> {{ about.title }} </h3>
                          <p class="text-gray-lite dark:text-color-910 leading-7"> {{ about.descriptions[0] }} </p>
                          <p class="text-gray-lite leading-7 mt-2.5 dark:text-color-910"> {{ about.descriptions[1] }} </p>
                          <p class="text-gray-lite leading-7 mt-2.5 dark:text-color-910"> {{ about.descriptions[2] }} </p>
                      </div>
                      <app-personal-info></app-personal-info>
                  </div>
              </div>
          </div>
          <!-- whai i do contain -->
          <div class="pb-12">
              <h3 class="text-[35px] dark:text-white font-medium pb-5"> Mí día a día </h3>
              <div *ngIf="about.boxes && about.boxes.length > 0" class="grid gap-8 grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
                  <app-about-box *ngFor="let box of about.boxes" [box]="box"></app-about-box>
              </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
