<section class="bg-white  lg:rounded-2xl dark:bg-[#111111]">
  <div class="container mb-8 px-4 sm:px-5 md:px-10 lg:px-[60px]">
    <div class="py-12">
      <h2 class="after-effect after:left-60 mt-12 lg:mt-0">Certificados</h2>

      <!-- fillter group buttons -->
      <ul
        class="button-group isotop-menu-wrapper mt-[30px] flex w-full justify-start md:justify-end flex-wrap font-medium">
        <li class="fillter-btn mr-4 md:mx-4 is-checked" data-filter="*">Todos</li>
        <li class="fillter-btn mr-4 md:mx-4" data-filter=".dev">Backend</li>
        <li class="fillter-btn mr-4 md:mx-4" data-filter=".plugin">Frontend</li>
        <li class="fillter-btn mr-4 md:mx-4" data-filter=".branding">Cloud</li>
      </ul>
    </div>
    <!-- End py-12 -->

    <div id="isotop-gallery-wrapper" class="flex flex-wrap justify-start mymix portfolio_list-two three-col ">
        <app-certificate *ngFor="let certificate of certificates" [certificate]="certificate" class="portfolio_list-two-items isotop-item dev branding "></app-certificate>
    </div>
  </div>

  <app-footer></app-footer>

</section>
