<section class="bg-white  lg:rounded-2xl dark:bg-[#444]">
  <div class="container mb-8 px-4 sm:px-5 md:px-10 lg:px-[60px]">
    <div class="flex flex-col items-center h-[100vh] md:h-[50vh] lg:h-[80vh] xl:h-[60vh] justify-center aos-init aos-animate" data-aos="fade">
      <img class="border-2 border-stone-50 rounded-full w-[250px] h-[250px] 2xl:w-[280px] 2xl:h-[280px]"
                  src="/assets/images/about/avatar.jpg" alt="about avatar" />
              <h3 class="mt-6 mb-1 text-5xl font-bold dark:text-white"> Cristian Ortega </h3>
              <p class="mb-4 font-semibold dark:text-white">{{ changingText }}</p>
              <div class="flex space-x-3">
                  <a href="https://.com/crisortegamu" target="_blank" rel="noopener noreferrer">
                      <span class="socialbtn text-[#1C9CEA]">
                          <i class="fa-brands fa-twitter"></i>
                      </span>
                  </a>
                  <a href="https://github.com/crisortegamunoz" target="_blank" rel="noopener noreferrer">
                      <span class="socialbtn text-[#FFFFFF]">
                          <i class="fa-brands fa-github"></i>
                      </span>
                  </a>
                  <a href="https://www.linkedin.com/in/crisortega/" target="_blank" rel="noopener noreferrer">
                      <span class="socialbtn text-[#0072b1]">
                          <i class="fa-brands fa-linkedin-in"></i>
                      </span>
                  </a>
              </div>
              <!-- dowanload button -->
              <!--<button class="dowanload-btn">
                  <img src="/assets/images/icons/dowanload.png" alt="icon" class="mr-2" />Contáctame</button>-->
          </div>
  </div>
  <app-footer></app-footer>
</section>
