<div class="flex flex-col items-center h-[100vh] md:h-[90vh] lg:h-[80vh] xl:h-[71vh] justify-center aos-init aos-animate"
              data-aos="fade">
              <!-- personal image -->
              <img class="border-2 border-stone-50 rounded-full w-[250px] h-[250px] 2xl:w-[280px] 2xl:h-[280px]"
                  src="/assets/images/about/avatar.jpg" alt="about avatar" />
              <h3 class="mt-6 mb-1 text-5xl font-semibold dark:text-white"> Cristian Ortega </h3>
              <p class="mb-4 text-[#7B7B7B]">{{ changingText }}</p>
              <!-- social link and social  buttons -->
              <div class="flex space-x-3">
                  <!-- twitter link -->
                  <a href="https://twitter.com/crisortegamu" target="_blank" rel="noopener noreferrer">
                      <span class="socialbtn text-[#1C9CEA]">
                          <i class="fa-brands fa-twitter"></i>
                      </span>
                  </a>
                  <!-- dribbble icon and link -->
                  <a href="https://github.com/crisortegamunoz" target="_blank" rel="noopener noreferrer">
                      <span class="socialbtn text-[#FFFFFF]">
                          <i class="fa-brands fa-github"></i>
                      </span>
                  </a>
                  <!-- linkedin icon and link -->
                  <a href="https://www.linkedin.com/in/crisortega/" target="_blank" rel="noopener noreferrer">
                      <span class="socialbtn text-[#0072b1]">
                          <i class="fa-brands fa-linkedin-in"></i>
                      </span>
                  </a>
              </div>
              <!-- dowanload button -->
              <!--<button class="dowanload-btn">
                  <img src="/assets/images/icons/dowanload.png" alt="icon" class="mr-2" />Contáctame</button>-->
          </div>
