<div>
  <h3 class="text-4xl font-medium my-5 dark:text-white"> Información Personal </h3>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
      <div class="flex">
          <span
              class="text-oriange dark:bg-color-990 shadow-icon mr-2.5 flex items-center justify-center rounded-md text-2xl w-12 text-">
              <i class="fa-solid fa-mobile-screen-button"></i>
          </span>
          <div class="space-y-1">
              <p class="text-xs text-gray-lite dark:text-color-910"> Teléfono
              </p>
              <h6 class="font-medium dark:text-white"> Pídemelo por Linkedin </h6>
          </div>
      </div>

      <div class="flex">
          <span
              class="text-oriange-lite dark:bg-color-990 shadow-icon mr-2.5 flex items-center justify-center rounded-md text-2xl w-12 text-">
              <i class="fa-solid fa-location-dot"></i>
          </span>
          <div class="space-y-1">
              <p class="text-xs text-gray-lite dark:text-color-910"> Ubicación
              </p>
              <h6 class="font-medium dark:text-white"> Santiago, Chile. </h6>
          </div>
      </div>

      <div class="flex">
          <span
              class="text-green dark:bg-color-990 shadow-icon mr-2.5 flex items-center justify-center rounded-md text-2xl w-12 text-">
              <i class="fa-solid fa-envelope-open-text"></i>
          </span>
          <div class="space-y-1">
              <p class="text-xs text-gray-lite dark:text-color-910"> Email
              </p>
              <h6 class="font-medium dark:text-white"> Pídemelo por Linkedin </h6>
          </div>
      </div>

      <div class="flex">
          <span
              class="text-color-50 dark:bg-color-990 shadow-icon mr-2.5 flex items-center justify-center rounded-md text-2xl w-12 text-">
              <i class="fa-solid fa-calendar-days"></i>
          </span>
          <div class="space-y-1">
              <p class="text-xs text-gray-lite dark:text-color-910"> Fecha Nacimiento
              </p>
              <h6 class="font-medium dark:text-white"> 28-08-1992 </h6>
          </div>
      </div>
  </div>
</div>
