<section class="bg-white lg:rounded-2xl dark:bg-[#111111]">
  <div data-aos="fade" class="aos-init aos-animate">
      <div class="container sm:px-5 md:px-10 lg:px-20">
          <div class="py-12 px-4">
              <h2 class="after-effect after:left-60 mb-[40px] mt-12 lg:mt-0"> Currículum </h2>
              <app-loading *ngIf="loading"></app-loading>
              <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-x-6 gap-y-6">
                  <div *ngIf="!loading && workHistory.length > 0">
                      <div class="flex items-center space-x-2 mb-4">
                          <i class="fa-solid text-6xl text-[#F95054] fa-briefcase"></i>
                          <h4 class="text-5xl dark:text-white font-medium"> Experiencia </h4>
                      </div>
                      <app-experience *ngFor="let work of workHistory" [experience]="work"></app-experience>
                  </div>

                  <div *ngIf="!loading && studies.length > 0">
                    <div class="flex items-center space-x-2 mb-4">
                      <i class="fa-solid text-6xl text-[#F95054] fa-graduation-cap"></i>
                      <h4 class="text-5xl dark:text-white font-medium"> Estudios </h4>
                    </div>
                    <app-experience *ngFor="let study of studies" [experience]="study"></app-experience>
                </div>
              </div>
          </div>
      </div>

      <div class="container bg-[#f8fbfb] dark:bg-[#0D0D0D] py-12 px-4 sm:px-5 md:px-10 lg:px-20">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
              <div class="col-span-1">
                  <h4 class="text-5xl dark:text-white font-medium mb-6"> Habilidades </h4>
                  <app-loading *ngIf="loading"></app-loading>
                  <div *ngIf="!loading &&  skills.length > 0">
                    <app-skill  *ngFor="let skill of skills" [skill]="skill" ></app-skill>
                  </div>
              </div>

              <div class="col-span-1">
                  <h4 class="text-5xl dark:text-white font-medium mb-8"> Conocimientos / Aptitudes </h4>
                  <app-loading *ngIf="loading"></app-loading>
                  <div *ngIf="!loading && knowledges.length > 0" class="flex gap-x-0 gap-y-0 md:gap-y-0 md:gap-x-0 flex-wrap">
                    <app-knowledge *ngFor="let knowledge of knowledges" [knowledge]="knowledge"></app-knowledge>
                  </div>
              </div>
          </div>
      </div>
      <app-footer></app-footer>
  </div>
</section>
